{% import "lib/githubLinks.html" as github -%}

<div class="github-links">
  {$ github.githubEditLink(doc, versionInfo) $}
</div>

<div class="content">

  <h1>{$ doc.code $}: {$ doc.shortDescription $}</h1>

  {% if doc.videoUrl.length %}
  <div class="video-container">
    <video controls>
      <source src="{$ doc.videoUrl $}.webm" type="video/webm">
      <source src="{$ doc.videoUrl $}.mp4" type="video/mp4">
      <track src="{$ doc.videoUrl $}.en.vtt" label="English" kind="subtitles" srclang="en">
      <track src="{$ doc.videoUrl $}.cn.vtt" label="简体中文" kind="subtitles" srclang="cn" default>
    </video>
  </div>
  {% endif%}
  {% if doc.videoCaption %}{$ doc.videoCaption | marked $}{% endif%}

  <div class="error-description">
    <h2 translation-result="on">说明</h2>
  <h2 translation-origin="off">Description</h2>
    {$ doc.description | marked $}
  </div>

  <br>

  <div class="debugging">
    <h2 translation-result="on">如何排除本错误</h2>
  <h2 translation-origin="off">Debugging the error</h2>
    {$ doc.debugging | marked $}
  </div>
</div>
